name: Test

on:
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25.4'

      - name: Format
        run: |
          files=$(gofmt -l ./)
          if [ -n "$files" ]; then
            echo "Error: Some files are not properly formatted"
            exit 1
          fi

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9
        with:
          version: latest

      - name: Test
        run: go test -v ./...

  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25.4'

      - name: Install runn
        run: go install github.com/k1LoW/runn/cmd/runn@latest

      - name: Start services
        run: docker compose up -d --build

      - name: Run e2e tests
        run: runn run e2e/*.yml --verbose

      - name: Show logs on failure
        if: failure()
        run: docker compose logs

      - name: Cleanup
        if: always()
        run: docker compose down -v

  automerge:
    runs-on: ubuntu-latest
    needs: [test, e2e]
    if: github.event.pull_request.user.login == 'renovate[bot]'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@7961b8b5eec56cc088c140b56d864285eabd3f67 # v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_LABELS: ""
